    @{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This little web app was created to showcase interactions with various Azure Services.</p>
</div>
